<card class="card">
    <div class="card-img-top">
        <img class="img-fluid" src="/images/cascades.png" alt="North Cascades National Park">
    </div>
    <div class="card-body card-style">
        <div class="title">
            <a href="/gem/:id">North Cascades National Park</a>
        {{!-- <a href="{{post_url}}" target="_blank">{{title}}</a> --}}
        </div>
        <div class="">
            2 Votes
            {{!-- {{vote_count}} {{format_plural "point" vote_count}} --}}
            |
            1 Comment
            {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
        </div>
    </div>
</card>
        {{!-- <span>({{format_url post_url}})</span> --}}